@font-face
{
	src: url(../res/baskerville-r.ttf);
	font-family: "high";
}
@font-face
{
	src: url(../res/opensans-r.ttf);
	font-family: "std";
}

/* DEFAULT SETTINGS */

* 
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.container
{
    max-width: 1200px;
    margin: auto;
}
main
{
    background: #ffffff;
    padding: 25px;
    width: 70%; /*oldalsáv miatt*/
    float: left; /*oldalsáv miatt*/
    box-sizing: border-box; /*oldalsáv miatt*/
	text-align: center;
}
html
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
body
{
	-webkit-touch-callout: none;          
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none; 
	
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #aaa;
	background: #c0b89b;
}

#title-bar
{
	border-radius: 25px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #928c74;
}
	h1
	{
		margin: 0;
		color: #fff;
		font-size: 105%;
		text-align: center;
		padding: 15px;
	}

p
{
	font-family: "high";
	background: #f9f4d0;
	color: #514e37;
	padding: 25px;
	font-size: 150%;
	border-right: 2px solid #928c74;
	border-bottom: 5px solid #928c74;
	box-sizing: border-box;
	margin-bottom: 35px;
}

a
{
	font-size: 110%;
	color: rgba(255,255,255, 0.75);
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
/*aside*/
aside
{
    padding: 25px;
    width: 60%; /*oldalsáv miatt*/
    float: right; /*oldalsáv miatt*/
    box-sizing: border-box; /*oldalsáv miatt*/
}
.container a
{
    background: rgb(243, 136, 49);
    color: #666;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    transition: background 0.3s;
}
.container a:hover
{
    background: rgb(170, 170, 170);
}
iframe
{
    width: 100%;
    border: 1px solid #ddd;
    height: 400px;
}