@font-face
{
	src: url(../res/baskerville-r.ttf);
	font-family: "high";
}
@font-face
{
	src: url(../res/opensans-r.ttf);
	font-family: "std";
}

/* DEFAULT SETTINGS */

* 
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container
{
    max-width: 1200px;
    margin: auto;
}
main
{
    background: #ffffff;
    padding: 25px;
    width: 70%; /*oldalsáv miatt*/
    float: left; /*oldalsáv miatt*/
    box-sizing: border-box; /*oldalsáv miatt*/
	text-align: center;
}

/* Header */
.elso
{
    background-image: linear-gradient(#c12f8a, #4E2A9D); 
    width: 100%;
    max-width: 1200px;
    height: 450px;
    margin: auto;
    padding-left: 30px;
	margin-bottom: 50px;
}

.elso nav
{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elso nav img
{
    width: 200px;
}

.elso li
{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 15px 25px;
    color: #fff;
}

.elso .medium
{
    height: 350px;
    display: flex;
    align-items: center;
}

.elso .medium .info
{
    width: 48%;
    text-align: center;
    color: #fff;
    float: left;
    padding-right: 60px;
}

.elso .info h1,
.elso .info p
{
    margin-bottom: 15px;
}

.elso .info a
{
    text-decoration: none;
    color: #fff;
    background: #2ec0a4;
    padding: 10px 15px;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-block;
    transition: background 0.3s;
}

.elso .info a:hover
{
    background: #218773;
}

.elso .medium .image
{
    width: 48%;
    float: right;
}

.elso .medium img
{
    width: 75%;
}

.elso .bottom
{
    height: 40px;
    background-image: url(Company/header-bottom.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

>>>>>>> a3d270b (Header style)
html
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
body
{
	-webkit-touch-callout: none;          
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none; 
	
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #aaa;
	background: #c0b89b;
}

#title-bar
{
	border-radius: 25px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #928c74;
}
	h1
	{
		margin: 0;
		color: #fff;
		font-size: 105%;
		text-align: center;
		padding: 15px;
	}

p
{
	font-family: "high";
	background: #f9f4d0;
	color: #514e37;
	padding: 25px;
	font-size: 150%;
	border-right: 2px solid #928c74;
	border-bottom: 5px solid #928c74;
	box-sizing: border-box;
	margin-bottom: 35px;
}

a
{
	font-size: 110%;
	color: rgba(255,255,255, 0.75);
	text-decoration: none;
}
footer
{
	text-decoration: underline;
}
/*aside*/
aside
{
    padding: 25px;
    width: 60%; /*oldalsáv miatt*/
    float: right; /*oldalsáv miatt*/
    box-sizing: border-box; /*oldalsáv miatt*/
}
.container a
{
    background: rgb(243, 136, 49);
    color: #666;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    transition: background 0.3s;
}
.container a:hover
{
    background: rgb(170, 170, 170);
}
iframe
{
    width: 100%;
    border: 1px solid #ddd;
    height: 400px;
}


.h5
{
	color: #4B6A4C;
	font-size: 15px;

}
footer li
{
	list-style: none;
	font-size: 10px;
	
}
footer a
{
	
	
	text-decoration: dotted;
}
a:link {
	color: #4B6A4C;
  }
  
  /* visited link */
  a:visited {
	color: #2f4630;
  }
  
  /* mouse over link */
  a:hover {
	color: #3f3b30	;
  }
  
  /* selected link */
  a:active {
	color: #5f5b51;
  }
  iframe
  {
	  margin: 10px;
  }

